{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">

        Available main routes: <br/><br/>

        <a href="/team/create">/team/create</a><br/>
        <a href="/team/list">/team/list</a><br/>        

    </div>
{% endblock %}


