{% extends 'team/base.html.twig' %}

{% block body %}
    
    <h1>Create you favourite Pokémon team!</h1>

    {{ form(form) }}


            - I want to define the name of a new team
            - I want to add a new pokemon to the team by clicking the button "Gotta Catch 'Em All":
            - A random pokemon is retrieved from the API and added to the team
                    - The added pokemon must show:
            - its name
            - its base_experience value
            - a representative sprite image
            - its abilities (e.g. bulbasaur has chlorophyll and overgrow)
            - its types (e.g. bulbasaur is poison and grass)

{% endblock %}


